<p>post works!</p>
<div>
    <label for="">Title:: &nbsp;&nbsp; </label>
    <input #inputTitle type="text" class="form-control w-25" placeholder="Enter The Title"><br><br>
    <label for="">Body:: &nbsp;&nbsp; </label>
    <input #inputBody type="text" class="form-control w-25" placeholder="Enter The Body"><br><br>
    <button (click)="onSend(inputTitle.value,inputBody.value)" class="btn btn-success">Send</button>
</div>

<hr>
<div>
    <label for="">Id:: &nbsp;&nbsp;</label>
    <input type="text" class="form-control w-25"  placeholder="Enter the Id"><br><br>
    <label for="">Title:: &nbsp;&nbsp;</label>
    <input type="text" class="form-control w-25"  placeholder="Enter the Title"><br><br>
    <label for="">Body:: &nbsp;&nbsp;</label>
    <input type="text" class="form-control w-25"  placeholder="Enter the Body"><br><br>
    <button class="btn btn-info">Update</button>


</div>

<hr>

<table class="table table-bordered">
    <thead>
        <tr>
            <th> ID </th>
            <th>Action</th>
            <th>Title </th>
            <th> Body </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of posts">
            <td> {{item.id}} </td>
            <td><button (click)="onEdit(item)" class="btn btn-warning">Edit</button></td>
            <td> {{item.title}} </td>
            <td> {{item.body}} </td>
        </tr>
    </tbody>
</table>

